In [1]:
import pandas as pd

# Veri setlerinin okunması
train_df = pd.read_csv(r"C:\\Users\\Emirhan Tozlu\\Desktop\\proje\\Hacettepe Yapay Zeka Yaz Kampı\\Hacettepe Yapay Zeka Yaz Kampı Hafta 2\\veri setleri\\train.csv")
predict_df = pd.read_csv(r"C:\\Users\\Emirhan Tozlu\\Desktop\\proje\\Hacettepe Yapay Zeka Yaz Kampı\\Hacettepe Yapay Zeka Yaz Kampı Hafta 2\\veri setleri\\predict.csv")

In [2]:
# Veri setinin genel bilgilerini görüntüleme
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  351 non-null    int64
 1   Survived     351 non-null    int64
 2   Pclass       351 non-null    int64
 3   Name         351 non-null    object
 4   Sex          351 non-null    object
 5   Age          280 non-null    float64
 6   SibSp        351 non-null    int64
 7   Parch        351 non-null    int64
 8   Ticket       351 non-null    object
 9   Fare         350 non-null    float64
 10  Cabin        80 non-null     object
 11  Embarked     351 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 33.0+ KB

In [3]:
# veri setinin boyut bilgisini almak için kullanılır.
train_df.shape

(351, 12)

In [4]:
# Veri setinin ilk birkaç satırını görüntüleme
train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,1,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.0,1,2,C.A. 2315,20.575,NaN,S
1,2,1,1,"Chaudanson, Miss. Victorine",female,36.0,0,0,PC 17608,262.375,B61,C
2,3,0,1,"Smith, Mr. Lucien Philip",male,24.0,1,0,13695,60.000,C31,S
3,4,0,3,"Kennedy, Mr. John",male,NaN,0,0,368783,7.750,NaN,Q
4,5,0,3,"Thomas, Mr. Tannous",male,NaN,0,0,2684,7.225,NaN,C

In [5]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             71
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          271
Embarked         0
dtype: int64

In [6]:
# Yaş sütunundaki eksik değerleri medyan yaş ile doldurma
train_df['Age'].fillna(train_df['Age'].median(), inplace=True)

# Ücret sütunundaki eksik değeri medyan değer ile doldurma
train_df['Fare'].fillna(train_df['Fare'].median(), inplace=True)

# Kabin sütunundaki eksik değerleri 'Unknown' ile doldurma
train_df['Cabin'].fillna('Unknown', inplace=True)

# Embarked sütunundaki eksik değerleri mod (en sık değer) ile doldurma
train_df['Embarked'].fillna(train_df['Embarked'].mode()[0], inplace=True)

C:\Users\Emirhan Tozlu\AppData\Local\Temp\ipykernel_15776\3857878098.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['Age'].fillna(train_df['Age'].median(), inplace=True)
C:\Users\Emirhan Tozlu\AppData\Local\Temp\ipykernel_15776\3857878098.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['Fare'].fillna(train_df['Fare'].median(), inplace=True)
C:\Users\Emirhan Tozlu\AppData\Local\Temp\ipykernel_15776\3857878098.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['Cabin'].fillna('Unknown', inplace=True)
C:\Users\Emirhan Tozlu\AppData\Local\Temp\ipykernel_15776\3857878098.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['Embarked'].fillna(train_df['Embarked'].mode()[0], inplace=True)

In [7]:
# Eksik değerlerin tekrar kontrol edilmesi
print(train_df.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [8]:
# ## Kategorik Değişkenlerin Dönüştürülmesi

# Cinsiyet sütununu sayısal değerlere dönüştürme
train_df['Sex'] = train_df['Sex'].map({'male': 0, 'female': 1})

# Embarked sütununu one-hot encoding ile dönüştürme
train_df = pd.get_dummies(train_df, columns=['Embarked'])

In [9]:
# ## Öznitelik Seçimi

# Önemli özniteliklerin seçilmesi
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
X = train_df[features]
y = train_df['Survived']

In [10]:
# ## Eğitim ve Test Setlerine Ayırma

from sklearn.model_selection import train_test_split

# Eğitim ve test setlerine ayırma
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# ## Model Eğitimi ve Değerlendirme

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Modeli eğitme
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# Tahmin yapma
y_pred = model.predict(X_test)

# Model doğruluğunu hesaplama
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy}")

Model Accuracy: 1.0

In [12]:
# ## Test Veri Seti Üzerinde Tahmin Yapma

# Test verisinde aynı işlemleri yapma
predict_df['Sex'] = predict_df['Sex'].map({'male': 0, 'female': 1})
predict_df = pd.get_dummies(predict_df, columns=['Embarked'])
predict_df['Age'].fillna(predict_df['Age'].median(), inplace=True)
predict_df['Fare'].fillna(predict_df['Fare'].median(), inplace=True)
predict_df['Cabin'].fillna('Unknown', inplace=True)

X_predict = predict_df[features]

C:\Users\Emirhan Tozlu\AppData\Local\Temp\ipykernel_15776\2251281107.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  predict_df['Age'].fillna(predict_df['Age'].median(), inplace=True)
C:\Users\Emirhan Tozlu\AppData\Local\Temp\ipykernel_15776\2251281107.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  predict_df['Fare'].fillna(predict_df['Fare'].median(), inplace=True)
C:\Users\Emirhan Tozlu\AppData\Local\Temp\ipykernel_15776\2251281107.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  predict_df['Cabin'].fillna('Unknown', inplace=True)

In [13]:
# Tahmin yapma
predictions = model.predict(X_predict)

In [14]:
# ## Tahmin Sonuçlarının CSV Dosyasına Kaydedilmesi

# Tahmin sonuçlarını CSV dosyasına kaydetme
results = pd.DataFrame({
    'PassengerId': predict_df['PassengerId'],
    'Survived': predictions
})

results.to_csv('submission.csv', index=False)