In [1]:
import pandas as pd

# train ve predict veri setlerimizin okunması
train_df=pd.read_csv(r"C:\Users\Emirhan Tozlu\Desktop\proje\Hacettepe Yapay Zeka Yaz Kampı\Hacettepe Yapay Zeka Yaz Kampı Hafta 2\veri setleri\train.csv")
predict_df=pd.read_csv(r"C:\Users\Emirhan Tozlu\Desktop\proje\Hacettepe Yapay Zeka Yaz Kampı\Hacettepe Yapay Zeka Yaz Kampı Hafta 2\veri setleri\predict.csv")

In [2]:
# veri seti hakkında genel bilgi almak için kullanılır.
train_df.info

<bound method DataFrame.info of      PassengerId  Survived  Pclass  \
0              1         1       3
1              2         1       1
2              3         0       1
3              4         0       3
4              5         0       3
..           ...       ...     ...
346          347         0       3
347          348         0       3
348          349         1       1
349          350         0       3
350          351         1       3

                                                Name     Sex   Age  SibSp  \
0           Dean, Mrs. Bertram (Eva Georgetta Light)  female  33.0      1
1                        Chaudanson, Miss. Victorine  female  36.0      0
2                           Smith, Mr. Lucien Philip    male  24.0      1
3                                  Kennedy, Mr. John    male   NaN      0
4                                Thomas, Mr. Tannous    male   NaN      0
..                                               ...     ...   ...    ...
346                    Abelseth, Mr. Olaus Jorgensen    male  25.0      0
347                         Brobeck, Mr. Karl Rudolf    male  22.0      0
348  Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female  48.0      1
349                                Assaf, Mr. Gerios    male  21.0      0
350                          Burns, Miss. Mary Delia  female  18.0      0

     Parch     Ticket      Fare            Cabin Embarked
0        2  C.A. 2315   20.5750              NaN        S
1        0   PC 17608  262.3750              B61        C
2        0      13695   60.0000              C31        S
3        0     368783    7.7500              NaN        Q
4        0       2684    7.2250              NaN        C
..     ...        ...       ...              ...      ...
346      0     348122    7.6500            F G63        S
347      0     350045    7.7958              NaN        S
348      3   PC 17608  262.3750  B57 B59 B63 B66        C
349      0       2692    7.2250              NaN        C
350      0     330963    7.8792              NaN        Q

[351 rows x 12 columns]>

In [3]:
# veri setinin boyut bilgisini almak için kullanılır.
train_df.shape

(351, 12)

In [4]:
# veri setimizin ilk beş satırını gözlemlemek için kullanılır.
train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,1,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.0,1,2,C.A. 2315,20.575,NaN,S
1,2,1,1,"Chaudanson, Miss. Victorine",female,36.0,0,0,PC 17608,262.375,B61,C
2,3,0,1,"Smith, Mr. Lucien Philip",male,24.0,1,0,13695,60.000,C31,S
3,4,0,3,"Kennedy, Mr. John",male,NaN,0,0,368783,7.750,NaN,Q
4,5,0,3,"Thomas, Mr. Tannous",male,NaN,0,0,2684,7.225,NaN,C

In [5]:
#sayısal sütünlar için temel istatistikleri gösterir.
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,351.000000,351.000000,351.000000,280.000000,351.000000,351.000000,350.000000
mean,176.000000,0.376068,2.239316,30.069643,0.444444,0.361823,37.040572
std,101.469207,0.485089,0.848355,13.984711,0.926848,0.948756,58.075559
min,1.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,88.500000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,176.000000,0.000000,3.000000,27.000000,0.000000,0.000000,14.500000
75%,263.500000,1.000000,3.000000,39.000000,1.000000,0.000000,31.682275
max,351.000000,1.000000,3.000000,67.000000,8.000000,9.000000,512.329200

In [6]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             71
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          271
Embarked         0
dtype: int64

In [7]:
# Eksik verileri dolduruyoruz.

# Yaş sütunundaki eksik değerleri medyan yaş ile dolduruyoruz.
train_df['Age'].fillna(train_df['Age'].median(),inplace=True) 

# Ücret sütunundaki eksik değeri medyan değer ile dolduruyoruz.
train_df['Fare'].fillna(train_df['Fare'].median(),inplace=True)

C:\Users\Emirhan Tozlu\AppData\Local\Temp\ipykernel_12980\1494262158.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['Age'].fillna(train_df['Age'].median(),inplace=True)
C:\Users\Emirhan Tozlu\AppData\Local\Temp\ipykernel_12980\1494262158.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['Fare'].fillna(train_df['Fare'].median(),inplace=True)

In [8]:
# kategorik verileri sayısal verilere dönüştürüyoruz.

# sex sütununu 'male' ve 'female' değerleri 0 ve 1  olarak kodluyoruz.
train_df['Sex']=train_df['Sex'].map({'male':0,'female':1})


# Embarked sütunundaki kategorileri sayısal verilere dönüştürüyoruz.
# 'S','C','Q' kategorilerini 0,1 ve 2 ile kodluyoruz.

train_df['Embarked']=train_df['Embarked'].map({'S':0,'C':1,'Q':2})

In [9]:
# öznitelik seçimi 
# bazı öznitelikler model için gerekli olmayabilir veya overfittinge sebeb olabilir.

features=['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']

X= train_df[features]
y= train_df['Survived']

In [10]:
# veri setini eğitim ve test olarak ikiye ayırma 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
# model seçimi  ve eğitimi

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

model=RandomForestClassifier(random_state=42)
model.fit(X_train,y_train)

# test seti üzerinde tahminler yapıyoruz.
y_pred=model.predict(X_test)

# modelin başarımını değerlendiriyoruz.
accuracy = accuracy_score(y_test,y_pred)
print(f"Model Accuracy")

Model Accuracy

In [12]:
# modelin performansını değerlendiriyoruz

from sklearn.metrics import classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        42
           1       1.00      1.00      1.00        29

    accuracy                           1.00        71
   macro avg       1.00      1.00      1.00        71
weighted avg       1.00      1.00      1.00        71

In [13]:
# model tahminlerini csv dosyasına kaydetme

import pandas as pd

results=pd.DataFrame({
    'PassengerId':test_df['PassengerID'],
    'Survived':y_pred
})


results.to_csv('submission.csv',index=False)

NameError: name 'test_df' is not defined